  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
  
  body{
        background:#f3f3f3;
       /* font-family:'Pretendard Variable', 'Pretendard', sans-serif;*/
    }
    a{}
    .m1{
        width:100%; height:100%; padding: 10%;
    }
    .title{
      font-weight: normal; font-size:36px; color:#1e1e1e; font-family:'Pretendard-Medium'; margin:0 auto 30px auto
    }
    .title span{
        font-weight: bold;
    }



