tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:วฅมุ;
	mso-style-id:0;}
.font6
	{color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;}
.font9
	{color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;}
.font14
	{color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;}
.font15
	{color:#4472C4;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;}
.font16
	{color:#4472C4;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;}
.font17
	{color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;}
.font18
	{color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;}
.xl66
	{mso-style-parent:style0;
	font-style:italic;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;}
.xl67
	{mso-style-parent:style0;
	color:#595959;
	font-style:italic;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border:.5pt solid black;}
.xl68
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border:.5pt solid black;
	background:#A4C2F4;
	mso-pattern:#A4C2F4 none;}
.xl69
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border:.5pt solid black;}
.xl70
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border:.5pt solid black;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#A4C2F4;
	mso-pattern:#A4C2F4 none;}
.xl72
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;}
.xl73
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:left;
	border:.5pt solid black;
	white-space:normal;}
.xl74
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	border:.5pt solid black;
	white-space:normal;}
.xl75
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:left;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	white-space:normal;}
.xl76
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border:.5pt solid black;
	background:#A4C2F4;
	mso-pattern:#A4C2F4 none;
	white-space:normal;}
.xl77
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:#A4C2F4;
	mso-pattern:#A4C2F4 none;}
.xl78
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;}
.xl79
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#A4C2F4;
	mso-pattern:#A4C2F4 none;}
.xl80
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border:.5pt solid black;
	background:white;
	mso-pattern:white none;}
.xl81
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border:.5pt solid black;
	background:white;
	mso-pattern:white none;
	white-space:normal;}
.xl82
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;}
.xl83
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	border:.5pt solid black;}
.xl84
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:white;
	mso-pattern:white none;}
.xl85
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:left;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:white;
	mso-pattern:white none;
	white-space:normal;}
.xl86
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:white;
	mso-pattern:white none;}
.xl87
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:left;
	border:.5pt solid black;
	background:white;
	mso-pattern:white none;}
.xl88
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;}
.xl89
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:left;
	border:.5pt solid black;
	background:white;
	mso-pattern:white none;
	white-space:normal;}
.xl90
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:1.0pt solid black;
	border-left:.5pt solid black;
	background:white;
	mso-pattern:white none;}
.xl91
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:1.0pt solid black;
	border-left:.5pt solid black;}
.xl92
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:1.0pt solid black;
	border-left:.5pt solid black;}
.xl93
	{mso-style-parent:style0;
	text-align:left;
	background:white;
	mso-pattern:white none;}
.xl94
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:left;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:white;
	mso-pattern:white none;
	white-space:normal;}
.xl95
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:left;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:1.0pt solid black;
	border-left:.5pt solid black;
	background:white;
	mso-pattern:white none;
	white-space:normal;}
.xl96
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:left;
	border:.5pt solid black;}
.xl97
	{mso-style-parent:style0;
	color:black;
	font-family:Roboto;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	border:.5pt solid black;
	background:white;
	mso-pattern:white none;}
.xl98
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:left;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	white-space:normal;}
.xl99
	{mso-style-parent:style0;
	color:windowtext;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;}
.xl100
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#FEF2CB;
	mso-pattern:#FEF2CB none;}
.xl101
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#E2EFD9;
	mso-pattern:#E2EFD9 none;}
.xl102
	{mso-style-parent:style0;
	color:windowtext;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;}
.xl103
	{mso-style-parent:style0;
	color:black;
	font-family:"\0022Malgun Gothic\0022", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#A4C2F4;
	mso-pattern:#A4C2F4 none;}
.xl104
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;}
.xl105
	{mso-style-parent:style0;
	color:#0563C1;
	text-decoration:underline;
	text-underline-style:single;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;}
.xl106
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#DEEAF6;
	mso-pattern:#DEEAF6 none;}
.xl107
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;}
.xl108
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:white;
	mso-pattern:white none;
	white-space:normal;}
.xl109
	{mso-style-parent:style0;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;}
.xl110
	{mso-style-parent:style0;
	color:windowtext;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:1.0pt solid black;
	border-left:.5pt solid black;}
.xl111
	{mso-style-parent:style0;
	color:black;
	font-family:"\0022Malgun Gothic\0022", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:none;
	background:#A4C2F4;
	mso-pattern:#A4C2F4 none;}
.xl112
	{mso-style-parent:style0;
	color:windowtext;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:none;}
.xl113
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	font-family:"Malgun Gothic", monospace;
	mso-font-charset:129;
	text-align:center;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid black;
	background:#9BC2E6;
	mso-pattern:black none;}
.xl114
	{mso-style-parent:style0;
	color:windowtext;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#9BC2E6;
	mso-pattern:black none;}
.xl115
	{mso-style-parent:style0;
	color:windowtext;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:1.0pt solid black;
	background:#9BC2E6;
	mso-pattern:black none;}
.xl116
	{mso-style-parent:style0;
	color:windowtext;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	background:#9BC2E6;
	mso-pattern:black none;}
